#header{
    text-align: center ;
    background-color: #06B6D4; 
    padding: 0.5rem 1rem ;
    max-width: 500 px;
    border-color: chartreuse;
    border-radius: 0.5rem 0.5rem 0.5rem 1.5rem;
    color: 

}

.body{
    background-color: #FCD34D;
}