.header{
    background-color: #A855F7;
    border-radius: 0.5rem 0.5rem 0.5rem 1.2rem;
    padding-bottom: 0.1rem;
}

.header-1{
    text-align: center;
    max-width: 500rem;
}

.header-1 >h1{
    color :yellow;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0.5rem;   
}

.header-1 >small{
    padding-top: 0.2rem;
    font-weight :bolder;
}


.header >ul{
    text-align: right;
    list-style: none;
}

ul >li{
    display: inline;
    padding-right : 0.5rem ;
    margin-bottom: 1rem;
    }

.link{
    text-decoration: none;
    color :yellow;
    border : solid white ;
    border-radius: 0.3rem;
    padding : 0rem 0.2rem ;

}


